<h1> Hello there! </h1>

<form action='birthday'>
  <h2>What's your name</h2>
  <input type="text" name="name">
  <h2>When's your birthday?</h2>
  <input type="date" name="birthday">
  <input type="Submit" value="Let's find out">
</form>
